
.icon-location-outline:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */